In [1]:
# import data from the csv
import pandas as pd
import numpy as py
import requests
import json

csv_file = "netflix_data_clean.csv"
netflix_file_clean_df = pd.read_csv(csv_file)
netflix_file_clean_df.head()

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
1,20,80060297,Movie,Manhattan Romance,Tom O'Brien,"Tom O'Brien, Katherine Waterston, Caitlin Fitz...",United States,"September 8, 2017",2014,TV-14,98 min,"Comedies, Independent Movies, Romantic Movies",A filmmaker working on a documentary about lov...
2,23,70304988,Movie,Stonehearst Asylum,Brad Anderson,"Kate Beckinsale, Jim Sturgess, David Thewlis, ...",United States,"September 8, 2017",2014,PG-13,113 min,"Horror Movies, Thrillers","In 1899, a young doctor arrives at an asylum f..."
3,24,80057700,Movie,The Runner,Austin Stark,"Nicolas Cage, Sarah Paulson, Connie Nielsen, W...",United States,"September 8, 2017",2015,R,90 min,"Dramas, Independent Movies",A New Orleans politician finds his idealistic ...
4,25,80045922,Movie,6 Years,Hannah Fidell,"Taissa Farmiga, Ben Rosenfield, Lindsay Burdge...",United States,"September 8, 2015",2015,NR,80 min,"Dramas, Independent Movies, Romantic Movies",As a volatile young couple who have been toget...

In [2]:
# Grab a small subset of data for testing
test_data = netflix_file_clean_df.loc[netflix_file_clean_df["director"] == "Troy Miller"]
test_data.head()

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
22,126,81074113,Movie,Jeff Dunham: Beside Himself,Troy Miller,Jeff Dunham,United States,"September 24, 2019",2019,TV-MA,58 min,Stand-Up Comedy,Jeff Dunham takes the stage in Dallas with his...
43,210,80108371,Movie,Cedric the Entertainer: Live from the Ville,Troy Miller,Cedric the Entertainer,United States,"September 16, 2016",2016,TV-MA,60 min,Stand-Up Comedy,"Donning his signature suit and fedora, the dap..."
197,1158,80134827,Movie,Brian Regan: Nunchucks and Flamethrowers,Troy Miller,Brian Regan,United States,"November 21, 2017",2017,TV-PG,61 min,Stand-Up Comedy,Brian Regan takes relatable family humor to ne...

In [3]:
#iterate through the titles and add information into list or dictionary
url = "http://www.omdbapi.com/?apikey=trilogy&t="
titles = netflix_file_clean_df["title"]
movie_name = []
genre = []
language = []
awards = []
metascore = []
boxoffice = []
production = []
imdbrating = []
imdbvotes = []
imdbid = []

for title in titles:
    response = requests.get(url + title)
    response_json = response.json()
    
    try:
        movie_name.append(response_json['Title'])
    except:
        movie_name.append('na')
        
    try:
        genre.append(response_json['Genre'])
    except:
        genre.append('na')
        
    try:
        language.append(response_json['Language'])
    except:
        language.append('na')
        
    try:
        awards.append(response_json['Awards'])
    except:
        awards.append('na')
        
    try:
        metascore.append(response_json['Metascore'])
    except:
        metascore.append('na')
        
    try:
        boxoffice.append(response_json['BoxOffice'])
    except:
        boxoffice.append('na')
        
    try:
        production.append(response_json['Production'])
    except:
        production.append('na')
        
    try:
        imdbrating.append(response_json['imdbRating'])
    except:
        imdbrating.append('na')
        
    try:
        imdbvotes.append(response_json['imdbVotes'])
    except:
        imdbvotes.append('na')
        
    try:
        imdbid.append(response_json['imdbID'])
    except:
        imdbid.append('na')

In [4]:
# add the information into a single dataframe
omdb_data = pd.DataFrame({
    'title':movie_name,
    'genre':genre,
    'language':language,
    'awards':awards,
    'metascore':metascore,
    'boxoffice':boxoffice,
    'production':production,
    'imdbrating':imdbrating,
    'imdbvotes':imdbvotes,
    'imdbid':imdbid
})

In [5]:
#print(movie_name)

In [6]:
# double check data
omdb_data.head()

,title,genre,language,awards,metascore,boxoffice,production,imdbrating,imdbvotes,imdbid
0,na,na,na,na,na,na,na,na,na,na
1,Manhattan Romance,"Comedy, Drama, Romance",English,3 wins.,N/A,N/A,Beacon Films Inc.,5.5,"1,122",tt2608324
2,Stonehearst Asylum,"Drama, Horror, Thriller",English,1 win & 1 nomination.,52,N/A,Millenium Entertainment,6.8,"48,493",tt1772264
3,The Runner,Drama,English,N/A,39,N/A,Alchemy,4.7,"4,768",tt3687398
4,6 Years,"Drama, Romance",English,4 nominations.,53,N/A,N/A,5.6,"10,784",tt3799372

In [7]:
# remove any results where the title was na
omdb_data_clean = omdb_data
omdb_data_clean = omdb_data_clean.loc[omdb_data_clean["title"]!= 'na']
omdb_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 901 entries, 1 to 966
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       901 non-null    object
 1   genre       901 non-null    object
 2   language    901 non-null    object
 3   awards      901 non-null    object
 4   metascore   901 non-null    object
 5   boxoffice   901 non-null    object
 6   production  901 non-null    object
 7   imdbrating  901 non-null    object
 8   imdbvotes   901 non-null    object
 9   imdbid      901 non-null    object
dtypes: object(10)
memory usage: 77.4+ KB

In [8]:
# save to csv
omdb_data_clean.to_csv("omdb_data_clean.csv", index=True)